<div class="row">
    <div class="col-12">
      <h2>
        Find your best food
      </h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, explicabo.
          <hr>
        </div>
        <div class="col-md-4">
          Quis quod fugit, ab sequi provident aut dolore modi ad?
          <hr>
        </div>
        <div class="col-md-4">
          Repellat natus temporibus modi? Facilis, dolorum exercitationem! Quia, sunt accusamus.
          <hr>
        </div>
        <div class="col-md-4">
          Necessitatibus nulla repudiandae placeat reprehenderit accusamus, et quasi a aperiam?
          <hr>
        </div>
        <div class="col-md-4">
          Debitis sequi aspernatur facere iste porro eligendi quam ex deserunt?
          <hr>
        </div>
        <div class="col-md-4">
          Natus modi voluptate eius alias amet voluptatum sequi, aliquid debitis?
          <hr>
        </div>
      </div>  
    </div>
  </div>