#outProducts {
  background-color: #f8f9fa;
  padding: 10em 0;
  font-family: "Playfair Display", serif;
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 5em ;
    font-family :"Open Sans", Arial, sans-serif;
    font-weight: 100;

  }
}
