<div class="main-container">
  <!-- Title -->
    <div class="title text-center position-absolute ">
      Mohamed
  </div>

  <app-sub-form></app-sub-form>
  <!-- <app-menu></app-menu>
  <app-slider></app-slider>
  <app-featured-food></app-featured-food>
  <app-social-feed></app-social-feed>
  <app-chefs></app-chefs>
  <app-our-products></app-our-products> -->

  <button (click)="DispatchEvent1()">
    Click ME
  </button>
  <button (click)="DispatchEvent2()">
    Click ME
  </button>
  <button (click)="DispatchEvent3()">
    Click ME
  </button>
  <br>
  <button (click)="getChannels()">
    Load channels
  </button>
</div>
