img {
    max-width: 100%;
}
 

.title {
    margin: auto;
    left: 0;
    right: 0;
    width: 110px;
    margin-top: 40px;
    border: 2px solid black;
    font-weight: 700;
    font-family: "Open Sans" ,serif;
    font-size: 1.2rem;
}